---
import Header from '../sections/Header.astro'
import Nabvar from '../sections/Nabvar.astro'
import Layout from '../layouts/Layout.astro'
import Skills from '../sections/Skills.astro'
import Experience from '../sections/Experience.astro'
---

<Layout title="Roberth Loor">
  <Nabvar />
  <main>
    <Header />
    <Skills />
    <Experience />
  </main>
</Layout>
