---
import Header from '../sections/Header.astro'
import Nabvar from '../sections/Nabvar.astro'
import Layout from '../layouts/Layout.astro'
import Skills from '../sections/Skills.astro'
import Experience from '../sections/Experience.astro'
import Projects from '../sections/Projects.astro'
import AboutMe from '../sections/AboutMe.astro'
import Thanks from '../sections/Thanks.astro'
import GetInTouchMe from '../sections/GetInTouchMe.astro'
import '../styles.css'
import Chatbot from '../sections/Chatbot.astro'
---

<Layout title="Roberth Loor">
     <Nabvar />
     <main class="max-w-[80rem] w-full">
          <Header />
          <Chatbot />
          <Experience />
          <Projects />
          <Skills />
          <AboutMe />
     </main>
</Layout>
