---
interface Props {
     position: 'right' | 'left' // Esto limita los valores de position a 'derecha' o 'izquierda'
}

const { position } = Astro.props
---

<div
     class:list={[
          'absolute mt-[14rem] bg-[#163c6d] rounded-full -z-50 _ light',
          {
               'left-3 ': position === 'left',
               'right-3 ': position === 'right',
          },
     ]}
>
</div>
<style>
     .light {
          width: 300px;
          height: 300px;
          filter: blur(70px);
     }
</style>
