---
import { Image } from 'astro:assets'
import { me } from '../assets/images'
---

<section class="mt-20 relative mx-4 lg:mx-20" id="about_me_section">
     <h3>About me</h3>

     <div class="flex flex-col lg:flex-row">
          <Image
               class="w-auto lg:h-[32rem] mx-8 -mt-14 object-cover _ me"
               src={me}
               alt="Me"
          />

          <div>
               <span class="text-[2.5rem] lg:text-[70px] font-bold"
                    >I’m <span class="text-primary"> Roberth Loor</span></span
               >
               <div class="max-w-[38rem]">
                    <p class="mt-5 text-base">
                         My name is Roberth Loor, I'm 23 years old, and I am an
                         <f>Information Technology Engineer.</f> Throughout my career, I have
                         developed a deep understanding of information systems, with a passionate
                         focus on creating digital solutions that <f
                              >add value and solve problems.</f
                         >
                    </p>
                    <p class="mt-5 text-base">
                         In addition to my commitment to development, I maintain a
                         <f>balanced lifestyle</f> through regular physical exercise and healthy
                         relationships with friends and family, which I consider essential
                         for optimal and outstanding performance.
                    </p>

                    <p class="mt-5 text-base">
                         I am focused on expanding my skills in both <f
                              >frontend and backend</f
                         >
                         development using technologies like React and Node, and my goal is
                         to continue growing and <f
                              >making significant contributions to web development.</f
                         >
                    </p>
               </div>
          </div>
     </div>
</section>

<style>
     .me {
          mask-image: linear-gradient(
               to bottom,
               black 70%,
               transparent 100%
          ); /* Máscara con degradado de negro a transparente */
     }

     .shadow-background-me {
          box-shadow: 0rem 0rem 20rem 5rem #2d8cfc;
     }
</style>
