---
import ChatMessageForm from '../components/ui/ChatMessageForm'
---

<section class="mt-5 flex flex-col gap-12 lg:flex-row mx-4 lg:mx-20" id="chatbot_section">
     <ChatMessageForm client:load />
</section>
