---
import LightShadow from '../components/styles/LightShadow.astro'
import WorkExperience from '../components/ui/WorkExperience.astro'
---

<section
     class="mt-20 flex flex-col gap-12 lg:flex-row mx-4 lg:mx-20"
     id="experience_section"
>
     <LightShadow position="left" />

     <div class="lg:w-[65%]">
          <h3 class="">Experience</h3>
          <div class="flex justify-between">
               <div class="mt-10">
                    <WorkExperience
                         title="Software developer - Public Water Company of the City of Manta"
                         date="Sep 2023 - Jan 2024"
                         isLast={false}
                         tags={[
                              'React native',
                              'Vue',
                              'Express',
                              'Arduino',
                              'Extreme Programming',
                              'Mongodb',
                         ]}
                    >
                         <p class="lg:text-base text-sm">
                              Developed an <f
                                   >IoT system to monitor temperature and humidity</f
                              > in EPAM laboratories. I integrated IoT hardware with Wi-Fi
                              connection to collect environmental data in real time and display
                              it <f>in a web and mobile application.</f>
                         </p>
                    </WorkExperience>
                    <WorkExperience
                         tags={['React', 'Express', 'Scrum', 'Posgretsql']}
                         isLast
                         title="Software developer - Public Water Company of the City of Manta"
                         date="Nov 2022 - Feb 2023"
                    >
                         <p class="lg:text-base text-sm">
                              I developed <f>
                                   modules to manage users, inventory, assets and costs.</f
                              >
                              I improved the user experience with friendly and robust interfaces
                         </p>
                    </WorkExperience>
               </div>
          </div>
     </div>

     <!-- Education -->
     <div class="">
          <h3>Education</h3>
          <div class="mt-10">
               <div class="lg:w-[20rem]">
                    <WorkExperience
                         title="Bachelor's degree in Computer Science"
                         date="2015 - 2019"
                         isEducation={true}
                    >
                         Bachelor's degree fed on <f>computer science and systems.</f>
                    </WorkExperience>
                    <WorkExperience
                         title="University degree in Information Technology Engineering"
                         date="2019 - 2024"
                         isLast={true}
                         isEducation={true}
                    >
                         Create and manage computer systems <f
                              >to solve business and social problems.</f
                         >
                    </WorkExperience>
               </div>
          </div>
     </div>
</section>
