---
import { Image } from 'astro:assets'
import { imageDetails } from '../assets/images'

const tags = ['React native', 'Vue', 'Express', 'Arduino', 'Mongodb']
---

<header class="text-white mt-[87px] w-full flex flex-col">
     <div class="mx-4 flex flex-col">
          <p class="text-center text-[#50A0FF] text-sm">Sep 2023 - Jan 2024</p>
          <h1 class="text-white font-bold text-[36px] mt-[35px]">
               Public Water Company of the City of Manta
          </h1>

          <p class="mt-[35px]">
               I developed modules to manage users, inventory, assets and costs. I
               improved the user experience with friendly and robust interfaces
          </p>

          <!-- tags -->
          <div class="flex gap-[10px] flex-wrap mt-[35px]">
               {
                    tags.map((tag) => (
                         <span class="px-[20px] py-[5px] bg-[#336791] bg-opacity-30 text-[#336791] text-sm rounded-3xl ">
                              {tag}
                         </span>
                    ))
               }
          </div>
     </div>

     <!-- image -->
     <div class="relative w-full h-[676px] mt-[57px]">
          <Image
               src={imageDetails.epamBuilding}
               alt={'Empresa de Aguas Publicas de la Ciudad de Manta'}
               class="image-header-details w-full h-[676px] object-cover absolute top-0 opacity-20"
          />

          <!-- button container -->
          <div class="absolute z-10 h-full w-full grid place-content-center">
               <button
                    class="flex py-[10px] px-[20px] bg-[#2D8CFC] rounded-[10px] shadow-lg z-20 hover:bg-[#1f72f1] active:bg-[#175bde] duration-150"
               >
                    <span class="text-[#090C1A] font-bold"> Visitar </span>
                    <Image
                         src={imageDetails.arrow}
                         alt="Visitar el sitio web"
                         class="w-[25px] h-[25px]"
                    />
               </button>
          </div>
     </div>
</header>

<style>
     .image-header-details {
          mask-image: linear-gradient(black 1%, transparent);
     }
</style>
