---
console.log('nabvar')
---

<section class="flex justify-end w-full mt-7">
  <span class="text-base font-semibold ml-12 drop-shadow-lg text-primary">Skills</span>
  <span class="text-base font-semibold ml-12 drop-shadow-lg">Experience</span>
  <span class="text-base font-semibold ml-12 drop-shadow-lg">Projects</span>
  <span class="text-base font-semibold ml-12 drop-shadow-lg">About me</span>
</section>
