---
import Project from '../components/ui/Project.astro'
---

<section class="mb-52 mt-10">
  <h3>Projects</h3>
  <div class="mt-5 grid grid-cols-2 gap-7">
    <Project />
    <Project />
    <Project />
    <Project />
  </div>
</section>
