---
import LightShadow from '../components/styles/LightShadow.astro'
import Project from '../components/ui/Project.astro'
---

<section class="mt-10" id="projects_section">
  <h3>Projects</h3>
  <LightShadow position="right" />
  <div class="mt-5 grid grid-cols-2 gap-7">
    <Project />
    <Project />
    <Project />
    <Project />
  </div>
</section>
