---
import { skillsArray } from '../assets/images'
---

<section class="mt-28 mx-4 lg:mx-20" id="skill_section">
  <h3>Skills</h3>
  <div
    class="flex flex-wrap justify-center bg-gradient-to-r from-[#090c1a] via-[#131934] to-[#090c1a] mt-5"
  >
    {
      skillsArray.map((imageSkill) => {
        return (
          <img
            src={imageSkill.src}
            class="w-auto h-[6rem] mx-8 lg:h-[6rem] py-7 "
            alt="skiil"
          />
        )
      })
    }
  </div>
</section>
