<form class="flex flex-col flex-1 lg:px-10 lg:mt-0 mt-10 gap-5 w-full" id="contact-form">
     <h3>Send me a message</h3>

     <div
          class="flex relative bg-white bg-opacity-5 py-3 px-5 rounded-2xl justify-between"
     >
          <input
               class="bg-transparent outline-none text-white text-sm flex-1"
               type="text"
               placeholder="Name"
               id="id_name"
          />
          <svg
               class="icon icon-tabler icons-tabler-filled icon-tabler-user"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="#81858d"
               ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
               ></path><path
                    d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
               ></path></svg
          >
     </div>

     <div
          class="flex relative bg-white bg-opacity-5 py-3 px-5 rounded-2xl justify-between"
     >
          <input
               type="text"
               placeholder="Company"
               id="id_company"
               class="bg-transparent outline-none text-white text-sm flex-1"
          />
          <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="#81858d"
               class="icon icon-tabler icons-tabler-filled icon-tabler-briefcase right-0"
               ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M22 13.478v4.522a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-4.522l.553 .277a20.999 20.999 0 0 0 18.897 -.002l.55 -.275zm-8 -11.478a3 3 0 0 1 3 3v1h2a3 3 0 0 1 3 3v2.242l-1.447 .724a19.002 19.002 0 0 1 -16.726 .186l-.647 -.32l-1.18 -.59v-2.242a3 3 0 0 1 3 -3h2v-1a3 3 0 0 1 3 -3h4zm-2 8a1 1 0 0 0 -1 1a1 1 0 1 0 2 .01c0 -.562 -.448 -1.01 -1 -1.01zm2 -6h-4a1 1 0 0 0 -1 1v1h6v-1a1 1 0 0 0 -1 -1z"
               ></path></svg
          >
     </div>

     <div
          class="flex relative bg-white bg-opacity-5 py-3 px-5 rounded-2xl justify-between"
     >
          <input
               type="text"
               placeholder="E-mail"
               class="bg-transparent outline-none text-white text-sm flex-1"
               id="id_email"
          />

          <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="#81858d"
               class="icon icon-tabler icons-tabler-filled icon-tabler-mail right-0"
               ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
               ></path><path
                    d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
               ></path></svg
          >
     </div>

     <div
          class="flex relative bg-white bg-opacity-5 py-3 px-5 rounded-2xl justify-between"
     >
          <textarea
               placeholder="Message"
               class="bg-transparent outline-none text-white text-sm flex-1 resize-none h-36"
               id="id_message"></textarea>

          <svg
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="#81858d"
               class="icon icon-tabler icons-tabler-filled icon-tabler-message right-0"
               ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M18 3a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-4.724l-4.762 2.857a1 1 0 0 1 -1.508 -.743l-.006 -.114v-2h-1a4 4 0 0 1 -3.995 -3.8l-.005 -.2v-8a4 4 0 0 1 4 -4zm-4 9h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0 -2m2 -4h-8a1 1 0 1 0 0 2h8a1 1 0 0 0 0 -2"
               ></path></svg
          >
     </div>
     <button
          type="submit"
          class="h-12 bg-primary rounded-xl text-white font-semibold hover:bg-[#287cdd] active:hover:bg-[#236bbd] duration-150"
     >
          Send
     </button>
</form>

<script>
     document
          .getElementById('contact-form')
          ?.addEventListener('submit', async (event) => {
               event.preventDefault()

               const name = (document.getElementById('id_name') as HTMLInputElement)!
                    .value
               const company = (document.getElementById(
                    'id_company'
               ) as HTMLInputElement)!.value
               const email = (document.getElementById('id_email') as HTMLInputElement)!
                    .value
               const message = (document.getElementById(
                    'id_message'
               ) as HTMLInputElement)!.value

               const emailData = {
                    subject: `EMAIL PORTFOLIO`,
                    html: `<p><strong>Name:</strong> ${name}</p>
              <p><strong>Company:</strong> ${company}</p>
              <p><strong>Email:</strong> ${email}</p>
              <p><strong>Message:</strong> ${message}</p>`,
               }

               try {
                    const response = await fetch(
                         'https://send-emails-api-portfolio.vercel.app/send-email',
                         {
                              method: 'POST',
                              headers: {
                                   'Content-Type': 'application/json',
                              },
                              body: JSON.stringify(emailData),
                         }
                    )

                    if (!response.ok) {
                         const errorData = await response.json()
                         throw new Error(errorData.error)
                    }

                    showToastNotification()
               } catch (error) {
                    console.error('Error:', error)
                    alert('Error sending email: ' + error)
               }
          })

     // /show toast
     const showToastNotification = () => {
          const toast = document.getElementById('id_toast')
          toast?.classList.add('showToast')
     }
</script>
