---
import { Image } from 'astro:assets'
import { work, education } from '../../assets/images'
import Tags from '../ui/Tags.astro'

interface Props {
     title: string
     date: string
     isLast?: boolean
     isEducation?: boolean
     tags?: string[]
}

const { isLast, date, title, isEducation, tags = [''] } = Astro.props
---

<div class="flex mb-16 relative">
     <Image
          class="w-auto h-6 mb-24 mt-6"
          alt="Work Experience"
          src={isEducation ? education : work}
     />

     <!-- Line -->
     {
          isLast ? (
               ''
          ) : (
               <div class="absolute w-[2px] h-[100%] bg-primary top-16 left-3 rounded-lg" />
          )
     }

     <div class="ml-5">
          <span class="text-base text-textGray">{date}</span>
          <h4 class="-mt-[2px]">{title}</h4>
          <p class="mt-4 text-base font-light">
               <slot />

               <div class="flex mt-1">
                    {tags.map((tag) => <Tags title={tag} />)}
               </div>
          </p>
     </div>
</div>
